body {
  padding: 0;
  margin: 0;
}

.both-container {
  display: flex;
}

.container-left-top {
  margin-top: 58px;
}

.container-left-bottom {
  margin-top: 480px;
}

.img-main {
  padding: 1010px;
  width: 720px;
}

.container-left {
  position: static;
}

.container-right {
  flex-grow: 1;
  flex: 185px 0 0;
  position: absolute;
  /* top: 40px;
  left: 250px; */
  left: 32%;
  top: 0
}